{
    "presets": [
        "env"
    ],
    "sourceMaps": true,
    "sourceType": "module",
    "plugins": [
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": [
                    "Array"
                ]
            }
        ]
    ]
}